<html>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ewobox Widget - Banner</title>
    <style>
        html, body {margin:0;padding:0;} 
    </style>
  </head>
  <body>
     <div id="ew-widget-banner" data-layout="vertical"></div>
    <script src="/react/banner/widget.js?ver={{ "now"|date("His") }}" type="text/javascript"></script>
  </body>
</html>