<script src="{{ asset('plugins/fileUpload/js/vendor/jquery.ui.widget.js') }}"></script>
<script src="{{ asset('plugins/fileUpload/js/jquery.iframe-transport.js') }}"></script>
<script src="{{ asset('plugins/fileUpload/js/jquery.fileupload.js') }}"></script>  
<script type="text/javascript">
        $(function () {
        $('.file-upload').fileupload({
                dataType: 'json',
                start: function (e) {
                    $('.article-icon-100').html('<img class="loader" src="/images/loader.gif" />');
                    $('.article-icon-100').css('backgroundImage','');
                },
                done: function (e, data) {
                    $('.article-icon-100').html('');
                    $('.article-icon-100').css('backgroundImage','url('+data.result.filename+')');
                    $('.newUploadedFile').val(data.result.filename);
                }
            });
        });
    </script>