  <!-- Modal -->
    <div class="modal fade" id="keywordModal" tabindex="-1" role="dialog" aria-labelledby="Locality" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Delete">{{'keyword.modal.title'|trans}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{'keyword.modal.text'|trans|raw}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-no-keywords-trigger">{{'keyword.modal.cancel'|trans}}</button>
                    <a class="keyword-trigger btn btn-primary" data-dismiss="modal" href=""  >{{'keyword.modal.confirm'|trans}}</a>
                </div>
            </div>
        </div>
    </div>
                
                
                
