  <!-- Modal -->
    <div class="modal fade" id="localityModal" tabindex="-1" role="dialog" aria-labelledby="Locality" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Delete">{{'locality.modal.title'|trans}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   
                    {{'locality.modal.text'|trans}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-no-locality-trigger">{{'locality.modal.cancel'|trans}}</button>
                    <a class="locality-trigger btn btn-primary" data-dismiss="modal" href=""  >{{'locality.modal.confirm'|trans}}</a>
                </div>
            </div>
        </div>
    </div>
                
                
                
