{# nacitava cesty k suborom podla cesty k appke #}
{% macro css(build_path) %}
    {% for path in cms_react_app_part(".css", build_path) %}
        <link href="{{ path }}" rel="stylesheet">
    {% endfor %}
{% endmacro %}

{% macro js(build_path) %}
    {% for path in cms_react_app_part(".js", build_path) %}
        <script src="{{ path }}"></script>
    {% endfor %}
{% endmacro %}

{# Filtruje z nacitanych ciest suborov #}
{% macro filterCss(arr) %}
    {% for path in arr %}
        {% if (path ends with '.css') %}
            <link href="{{ path }}" rel="stylesheet">
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro filterJs(arr) %}
    {% for path in arr %}
        {% if (path ends with '.js') %}
            <script src="{{ path }}"></script>
        {% endif %}
    {% endfor %}
{% endmacro %}


{% macro alerts() %}
    {% if app.session.flashbag.peekAll() is not empty %}
        <div{# class="alert-wrapper" #}>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% set class = 'alert-info' %}
                    {% if 'success' in label %}
                        {% set class = 'alert-success' %}
                    {% elseif 'danger' in label %}
                        {% set class = 'alert-danger' %}
                    {% endif %}
                    <div class="alert {{ class }} {# alert-dismissible fade show #}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p class="m-0">{{ message | trans | raw }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{{ editorName }}

{% macro cmsEditorCss(editorName = null) %}
    {% if editorName is same as 'markdown' or (cms_editor is defined and cms_editor is same as "markdown") %}
        <link href="{{ asset('bundles/scorecms/plugins/toastui/toastui-editor.min.css') }}" rel="stylesheet"/>
    {% endif %}
{% endmacro %}


{% macro cmsEditorJs(elementId, editorName = null) %}
    {% if  editorName is not null %}
        {% set cmsEditor = editorName %}
    {% else %}
        {% set cmsEditor = cms_editor is defined and cms_editor ? cms_editor : 'cke5_full' %}
    {% endif %}


    {% if cmsEditor == 'markdown' %}
        {% set editorId = '#' ~ elementId %}
        <script src="{{ asset('bundles/scorecms/plugins/cke5/build/ckeditor_markdown.js') }}"></script>
        <script>
            ClassicEditor
                .create(document.querySelector('#{{ elementId }}'), {
                    simpleUpload: {
                        uploadUrl: "{{ path('score-cke-image-upload') }}",
                        withCredentials: true,
                    },
                    image: {
                        toolbar: ["toggleImageCaption", "imageTextAlternative", "|", "imageStyle:inline", "imageStyle:block", "imageStyle:side", "|", "resizeImage:25", "resizeImage:40", "resizeImage:original"],
                        resizeOptions: [
                            {name: "resizeImage:original", value: null, icon: "original"},
                            {name: "resizeImage:25", value: "25", icon: "medium"},
                            {name: "resizeImage:40", value: "40", icon: "large"}
                        ],
                        resizeUnit: "%"
                    }
                })
                .then(editor => {
                    console.log('Editor was initialized', editor);
                })
                .catch(error => {
                    console.error(error.stack);
                });
        </script>
    {% elseif cmsEditor == 'cke4' %}
        {#  ckeditor 4  #}
        <script src="{{ asset('bundles/scorecms/plugins/ckeditor/ckeditor.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/ckeditor/config.js') }}"></script>
        <script type="text/javascript">
            var roxyFileman = '/bundles/scorecms/plugins/fileman/index.html';
            $(function () {
                CKEDITOR.replace('{{ elementId }}', {
                    filebrowserBrowseUrl: roxyFileman,
                    filebrowserImageBrowseUrl: roxyFileman + '?type=image',
                    removeDialogTabs: 'link:upload;image:upload'
                });
            });
        </script>
    {% else %} {# cke5  #}
        <script src="{{ asset('bundles/scorecms/plugins/cke5/build/ckeditor.js') }}"></script>
        {% if cmsEditor == 'cke5_table' %}
            {% set toolbarItems = "" %}
            <script>
                ClassicEditor.create(document.querySelector('#{{ elementId }}'), {
                    removePlugins: ['AutoImage', 'Heading', 'Image', 'ImageInsert', 'ImageUpload', 'MediaEmbed', 'SimpleUploadAdapter'],
                    toolbar: {
                        items: ['undo', 'redo', '|', 'bold', 'subscript', 'superscript', 'bulletedList', 'numberedList', 'link', 'specialCharacters', 'insertTable']
                    },
                })
                    .then(editor => {
                        console.log('Editor was initialized', editor);
                    })
                    .catch(error => {
                        console.error(error.stack);
                    });
            </script>
        {% elseif cmsEditor == 'cke5_simple' %}
            <script>
                ClassicEditor.create(document.querySelector('#{{ elementId }}'), {
                    removePlugins: ['AutoImage', 'Heading', 'Image', 'ImageInsert', 'ImageUpload', 'MediaEmbed', 'SimpleUploadAdapter', 'Table', 'TableProperties'],
                    toolbar: {
                        items: ['undo', 'redo', '|', 'bold', 'subscript', 'superscript', 'bulletedList', 'numberedList', 'link', 'specialCharacters']
                    },
                })
                    .then(editor => {
                        console.log('Editor was initialized', editor);
                    })
                    .catch(error => {
                        console.error(error.stack);
                    });
            </script>
        {% elseif cmsEditor == 'cke5_basic' %}
            <script>
                ClassicEditor.create(document.querySelector('#{{ elementId }}'), {
                    removePlugins: ['Autoformat', 'AutoImage', 'AutoLink', 'Document', 'Heading', 'Image', 'ImageInsert', 'ImageUpload', 'Link', 'MediaEmbed', 'SimpleUploadAdapter', 'Table', 'TableProperties'],
                    toolbar: {
                        items: ['undo', 'redo', '|', 'bold',]
                    },
                })
                    .then(editor => {
                        console.log('Editor was initialized', editor);
                    })
                    .catch(error => {
                        console.error(error.stack);
                    });
            </script>
        {% else %} {# cke5_full #}
            <script>
                ClassicEditor.create(document.querySelector('#{{ elementId }}'), {
                    simpleUpload: {
                        uploadUrl: "{{ path('score-cke-image-upload') }}",
                    },
                    toolbar: {
                        items: ['undo', 'redo', 'heading',
                            '|', 'bold', 'subscript', 'superscript', 'alignment', 'removeFormat', 'link', 'bulletedList', 'numberedList', 'todoList',
                            '|', 'specialCharacters', 'imageInsert', 'insertTable', 'mediaEmbed', 'htmlEmbed', 'sourceEditing', '|', 'document']
                    },
                })
                    .then(editor => {
                        console.log('Editor was initialized', editor);
                    })
                    .catch(error => {
                        console.error(error.stack);
                    });
            </script>
        {% endif %}
    {% endif %}
{% endmacro %}

