{% if pager.lastPage > 1 %}
    <ul class="pagination pagination-inside-transparent pagination-sm justify-content-center">
        {% if app.request.get('p') > 1 %}  
            <li class="page-item">
                <a class="page-link" href="{{pager.previousPageLink}}&p={{pager.previousPage}}" tabindex="-1" aria-disabled="true">
                    {{ 'pager.previous'|trans }}
                </a>
            </li>
        {% endif %}


        {% for page_number in pager.pages %}
            <li class="page-item {{ app.request.get('p') == page_number ? 'active' : '' }}"  >
                <a class="page-link"  href="{{pager.getNumberPageLink(page_number)}}">
                    {{page_number}}
                </a> 
            </li>
        {% endfor %}
        
        {% if pager.lastPage > pager.pages|length %}
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="{{pager.lastPageLink}}" > {{ pager.lastPage }}</a></li>
        {% endif %}

        {% if app.request.get('p') != pager.lastPage %}  
            <li class="page-item"><a class="page-link"  href="{{pager.nextPageLink}}"> {{ 'pager.next'|trans }}</a></li>
            {% endif %}
    </ul>
{% endif %}