  <!-- Modal -->
    <div class="modal fade" id="widgetModal" tabindex="-1" role="dialog" aria-labelledby="Widget" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Widget">{{'widget.modal.title'|trans}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    
                    <div style="display:none">
                        <div id="article-template">
                            <textarea class="widget-code-area"><link rel="stylesheet" href="{{  app.request.schemeAndHttpHost }}/react/article/widget/main.css" media="all" /><div id="ew-widget-article" data-slug="SLUG"  data-view="detail"></div><script src="{{  app.request.schemeAndHttpHost }}/react/article/widget/widget.js"></script></textarea>

                        <a onclick="window.open(this,'_blank');return false;" class="popup btn btn-primary" href="{{ path('article_widget_demo',{'view':'detail','s':'SLUG'}) }}">{{ 'widget.modal.preview'|trans }}</a>
                        </div>
                        <div id="event-template">
                             <textarea class="widget-code-area"><link rel="stylesheet" href="{{  app.request.schemeAndHttpHost }}/react/event/widget/main.css" media="all" /><div id="ew-widget-event" data-slug="SLUG"  data-view="detail"></div><script src="{{  app.request.schemeAndHttpHost }}/react/event/widget/widget.js"></script></textarea>

                         <a onclick="window.open(this,'_blank');return false;" class="popup btn btn-primary" href="{{ path('event_widget_demo',{'view':'detail','s':'SLUG'}) }}">{{ 'widget.modal.preview'|trans }}</a>
                        </div>
                        
                    </div>
                    
                    
                <div class="modal-body">
                    <p>Nasledovný kód skopíruje a umiestnite na miesto kde chcete widget zobraziť</p>
                    
                    <div id="articleWidget" class="widgetCode">
                    
                        <textarea class="widget-code-area"><link rel="stylesheet" href="{{  app.request.schemeAndHttpHost }}/react/article/widget/main.css" media="all" /><div id="ew-widget-article" data-slug="SLUG"  data-view="detail"></div><script src="{{  app.request.schemeAndHttpHost }}/react/article/widget/widget.js"></script></textarea>

                        <a onclick="window.open(this,'_blank');return false;" class="popup btn btn-primary" href="{{ path('article_widget_demo',{'view':'detail','s':'SLUG'}) }}">{{ 'widget.modal.preview'|trans }}</a>
                    </div>
                    
                    <div id="eventWidget" class="widgetCode">
                        <textarea class="widget-code-area"><link rel="stylesheet" href="{{  app.request.schemeAndHttpHost }}/react/event/widget/main.css" media="all" /><div id="ew-widget-event" data-slug="SLUG"  data-view="detail"></div><script src="{{  app.request.schemeAndHttpHost }}/react/event/widget/widget.js"></script></textarea>

                         <a onclick="window.open(this,'_blank');return false;" class="popup btn btn-primary" href="{{ path('event_widget_demo',{'view':'detail','s':'SLUG'}) }}">{{ 'widget.modal.preview'|trans }}</a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
                
                
                
